#inline{
  display:flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;

}
body {
  background-color: white;
}
.centermap {
    margin: auto;
    width: 90%;
    border: 0px #415a77;
    padding: 10px;
}
.header {
    right: 0;
    left: 0;
    margin-right: 0;
    margin-left: 0;
    border: 10px #415a77 ;
    background-color: #778da9 ;
    font-family: "Arial", Sans-serif;
    font-size: 100px;
    color: white;
}
.header2{
    display:none;
    width: auto;
    margin:0px;
    padding:10px;
    padding-bottom:5px;
    border: 10px #415a77 ;
    background-color: #778da9 ;
    font-family: "Comic Sans";
    font-size: 20px;
    text-align:center;
    color: white;
}
.statistics {
  float:left;
  height: 480px;
  display:none;
  padding:20px;
  margin:0px;
  width:20%;
  border: 10px #415a77;
  background-color: #778da9 ;
  font-family:"Comic Sans";
  font-size:15px;
  text-align:center;
  color: white;
}
.onmap {
  height: 50px;
  display:none;
  float: left;
  padding:5px;
  padding-bottom:50px;
  margin:0px;
  width:100%;
  border: 0px #415a77;
  background-color: #778da9 ;
  font-family:"Comic Sans";
  font-size:15px;
  color: white;
  text-align:center;
}
.facts {
  height: 480px;
  display:none;
  float: left;
  padding:20px;
  margin:0px;
  width:20%;
  border: 10px #415a77;
  background-color: #778da9 ;
  font-family:"Comic Sans";
  font-size:15px;
  text-align:center;
  color: white;
}
.button{
  margin:5px;
  top:5px;
  margin-left:10px;
  background-color: #778da9;
  width: 20%;
  color: white;
}
.hidden{
  display:none;
}
.browse{
  float:center;
  margin:auto;
  margin-bottom: 0px;
  background-color: #778da9;
  width: 100%;
  border: 0px #415a77;
  font-size:30px;
  text-align:center;
  color: white;
}

#file-input{
  margin: 10px;

}
/* .label{
  background-color: #7F0CCB;
  padding: 5px 10px;
  border-radius: 5px;
  border: 1px ridge black;
  font-size: 0.8rem;
  height: auto; */

}

#input-label{
  margin-left: -100px;
  color:blue;

}
